<div class="container d-flex justify-content-center w-75 my-4" id="container">
  <div class="card d-flex flex-column align-items-center w-50 px-4 py-2 my-4">
    <div class="card-body w-75 my-2 px-4">
      <form>
        <!-- Card title -->
        <h4 class="card-title fw-bold text-center mb-4">Log in</h4>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-2">
          <label class="form-label">Email address</label>
          <input
            type="email"
            id="form2Example1"
            class="form-control"
            placeholder="Enter email"
            required
          />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label">Password</label>
          <input
            type="password"
            id="form2Example2"
            class="form-control"
            placeholder="Enter password"
            required
          />
        </div>

        <!-- Submit button -->
        <div class="d-flex justify-content-center">
          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn mb-4"
          >
            Sign in
          </button>
        </div>

        <div>
          <!-- Register buttons -->
          <div class="d-flex justify-content-center text-center">
            <p class="mx-1">Not a member?</p>
            <a href="register">Register</a>
          </div>
          <!-- Simple link -->
          <div class="text-center">
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
