<div class="navbar">
  <div class="navbar-menu">
    <div
      class="d-flex align-self-center align-items-center mx-1 cursor-pointer"
      (click)="logo()"
    >
      <img
        src="../../../../../assets/logo.svg"
        height="43"
        width="48"
        alt="Logo"
      />
      <div class="navbar-logo mx-1">OnlyBuns</div>
    </div>

    <div class="navbar-buttons">
      <div class="navbar-button" *ngIf="this.showButton">
        <button class="btn" *ngIf="!hasLoggedIn()" (click)="login()">
          Login
        </button>
      </div>
      <div
        class="navbar-button dropdown"
        [class.hover]="dropdownOpen"
        *ngIf="hasLoggedIn()"
      >
        <button class="btn dropbtn" (click)="toggleMenu()">
          {{ user?.username }}
          <i class="fas fa-angle-down arrow" [class.rotate]="dropdownOpen"></i>
        </button>
        <div class="dropdown-content" *ngIf="dropdownOpen">
          <a class="dropdown-menu-link" routerLink="/profile/{{ user?.id }}"
            >Profile</a
          >
          <a class="dropdown-menu-link" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
