<div class="navbar">
  <div class="navbar-menu">
    <div
      class="d-flex align-self-center align-items-center mx-1 cursor-pointer"
      (click)="logo()"
    >
      <img
        src="../../../../../assets/logo.svg"
        height="43"
        width="48"
        alt="Logo"
      />
      <div class="navbar-logo mx-1">OnlyBuns</div>
    </div>

    <div class="navbar-buttons">
      <div class="navbar-button" *ngIf="this.showButton">
        <button class="btn" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</div>
